spring:
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: false
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false
        use_sql_comments: false
        type: false
        jdbc:
          time_zone: Asia/Seoul

jwt:
  secret: ${JWT_SECRET}

server:
  port: 8080

logging:
  file:
    path: /GiveChain/logs

blockchain:
  rpc-url: ${RPC_URL}
  donation-contract-address: ${DONATION_CONTRACT_ADDRESS}
  badge-contract-address: ${BADGE_CONTRACT_ADDRESS}
  owner-private-key: ${OWNER_PRIVATE_KEY}