name: Backend CI/CD

on:
  workflow_dispatch:

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Java JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run build
        run: ./gradlew clean build -x test -i --no-daemon -Dspring.profiles.active=prod

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }} .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}

  backend-cd:
    runs-on: ubuntu-latest
    needs: backend-ci
    name: Deploy to EC2 (Blue/Green)

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_EC2_IP }}
          username: ${{ secrets.AWS_EC2_USERNAME }}
          key: ${{ secrets.AWS_EC2_KEY }}
          port: ${{ secrets.AWS_EC2_PORT }}
          script: |
            cd /home/ubuntu
            
            APP_NAME=${{ secrets.DOCKER_REPO }}
            IMAGE=${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}
            
            echo "Deploy image: $IMAGE"
            
            # 최신 이미지 pull
            docker pull $IMAGE
            
            # 기존 컨테이너 있으면 stop & rm
            if [ "$(docker ps -aq -f name=$APP_NAME)" ]; then
              echo "Stopping old container..."
              docker stop $APP_NAME || true
              docker rm $APP_NAME || true
            fi
            
            # 새 컨테이너 실행
            echo "Starting new container..."
            docker run -d \
              --name $APP_NAME \
              --env SPRING_PROFILES_ACTIVE=prod \
              --env JAVA_TOOL_OPTIONS="-Duser.timezone=Asia/Seoul" \
              --env MYSQL_URL='${{ secrets.MYSQL_URL }}' \
              --env MYSQL_USERNAME='${{ secrets.MYSQL_USERNAME }}' \
              --env MYSQL_PASSWORD='${{ secrets.MYSQL_PASSWORD }}' \
              --env JWT_SECRET='${{ secrets.JWT_SECRET }}' \
              --env BADGE_CONTRACT_ADDRESS='${{ secrets.BADGE_CONTRACT_ADDRESS }}' \
              --env OWNER_PRIVATE_KEY='${{ secrets.OWNER_PRIVATE_KEY }}' \
              -p 8080:8080 \
              $IMAGE
            
            docker image prune -f